:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

$sidebar-bg-color: #2f855a;
$sidebar-item-hover: #38a169;
$sidebar-item-active: #276749;

.title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.navbar {
	display: flex;
	padding: 0 2rem;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #eaecef;
}

.navbar-menu {
	list-style: none;
	display: flex;
}

.navbar-menu li {
	margin-right: 2rem;
}

.navbar-menu li a {
	color: #2c3e50;
	text-decoration: none;
}

.navbar-menu li a:hover, .navbar-menu li a.active {
	border-bottom: 2px solid #3eaf7c;
}

.text-span {
	color: #3eaf7c;
}

.upper-page {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 1000px;
}

.btn-add {
	background-color: #38a169;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		background-color: #298f59;
	}
}
